hello-mybatis/target/m2e-jee/web-resources/META-INF/maven/com.liyi.test/hello-mybatis/pom.properties
hello-mybatis/target/m2e-jee/web-resources/META-INF/MANIFEST.MF
M:\workspace\git-hello-mybatis\hello-mybatis\.project
M:\workspace\git-hello-mybatis\hello-mybatis\.classpath
M:\workspace\git-hello-mybatis\hello-mybatis\.settings\org.eclipse.wst.common.component
M:\workspace\git-hello-mybatis\hello-mybatis\.settings\org.eclipse.wst.common.project.facet.core.xml
